<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-4.0.xsd
				http://www.springframework.org/schema/context classpath:/org/springframework/context/config/spring-context-4.0.xsd
				http://www.springframework.org/schema/aop classpath:/org/springframework/aop/config/spring-aop-4.0.xsd
				http://www.springframework.org/schema/tx classpath:/org/springframework/transaction/config/spring-tx-4.0.xsd">
				
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:cjf-develop.properties</value>
            </list>
        </property>
    </bean>
    
    <bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.cjf.utils.properties.AppConfig" />
		<property name="targetMethod" value="setUserHeadImagePath" />
		<property name="arguments">
			<value>${headImagePath}</value>
		</property>
	</bean>
	
	<!-- enable @Autowired -->
    <context:annotation-config />
    
    <import resource="app4mysql5.xml" />
	<import resource="txContext.xml" />
	
    <bean id="batchSession" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">  
    	<constructor-arg index="0" ref="sqlSessionFactory"/>  
    	<constructor-arg index="1" value="BATCH"/> 
	</bean>
	
    <bean id="dao" class="org.cjf.dao.impl.DaoImpl" scope="prototype">
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
        <property name="batchSession" ref="batchSession" />
    </bean>
    
    <import resource="context-menu.xml" />
    <import resource="context-user.xml" />
	<import resource="context-role.xml" />
	<import resource="context-roleuser.xml" />
	<import resource="context-rolemenuauth.xml" />
	<import resource="context-systypevalue.xml" />
    
</beans>